<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Primary Meta Tags -->
 <title>CDN</title> 
<link href="css/style.css" rel="stylesheet">
</head>
<body>

<form method="POST" enctype="multipart/form-data" action="/upload">
<input type="file" name="file" id="chooseFile" />
<p>Drag your files here or click in this area.</p>
<button type="submit">Upload</button>
</form>

    <script scr="/js/script.js"></script>
</body>
</html>